*************************** 1. row ***************************
       Table: schedule_teachers
Create Table: CREATE TABLE `schedule_teachers` (
  `id_assignment` int(11) NOT NULL AUTO_INCREMENT,
  `id_schedule` int(11) NOT NULL,
  `id_teacher` int(11) NOT NULL,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_assignment`),
  KEY `id_schedule` (`id_schedule`),
  KEY `id_teacher` (`id_teacher`),
  CONSTRAINT `schedule_teachers_ibfk_1` FOREIGN KEY (`id_schedule`) REFERENCES `schedules` (`id_schedule`) ON DELETE CASCADE,
  CONSTRAINT `schedule_teachers_ibfk_2` FOREIGN KEY (`id_teacher`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
